@{
    ViewData["Title"] = "Home Page";
}

<p style="font-size: 50px; color: blue; -webkit-text-stroke: 1px white;">
    Welcome to ABC Retail.
</p>
<p style="font-size: 25px; color: red; -webkit-text-stroke: 1px white;">
    ABC Retail is your go-to destination for quality products at unbeatable prices.
</p>
<p style="font-size: 25px; color: red; -webkit-text-stroke: 1px white;">
    Established with a commitment to bringing the best shopping experience,
</p>
<p style="font-size: 25px; color: red; -webkit-text-stroke: 1px white;">
    We offer a wide range of items from everyday essentials to unique finds that cater to all your needs.
</p>